<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-eUlg8E7ddEa7GzQQbj6xYldmsRrP4b0</string>
	<key>GCM_SENDER_ID</key>
	<string>954281724696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterWallpaperx</string>
	<key>PROJECT_ID</key>
	<string>wallpaperx-yakadev</string>
	<key>STORAGE_BUCKET</key>
	<string>wallpaperx-yakadev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954281724696:ios:d80f2d77f6075b4553ac6d</string>
</dict>
</plist>